#main-table {
  width: 100%;
  margin-top: 1rem;
  font-size: 12px;
  border-collapse: collapse;
}

#main-table .rank {
    padding-right: 1rem;
}

#main-table tr th {
  text-align: center;
  position: relative;
  padding: 0;
}

#main-table tr th > button {
  font-weight: 500;
  background: none;
  border: 0;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  left: 50%;
  translate: -50% 0;
  padding: 0.75rem;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:has(img) {
    /* text-decoration: underline; */
  }

  & img {
    width: 9px;
    image-rendering: crisp-edges;
  }
}

#main-table tr {
  & > td, > th {
    &:nth-child(n+5) {
      width: 125px;
    }
  }
}

@media (max-width: 1110px) {
    #main-table tr {
        & > td, > th {
            &:nth-child(n+5) {
                width: 80px;
            }
        }
    }
}