.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;

  & thead th {
    border-bottom: 1px solid white;
  }

  & .table-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 5px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
