.content-container-compare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  align-content: center;
  width: 1100px;
  margin: auto;
  max-width: 100%;
}

#compare-picture-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 150px;
  margin-bottom: 1rem;
  width: 1100px;
  margin: auto;
  max-width: 100%;
}

.compare-picture {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid white;
  overflow: hidden;
}

.compare-picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#compare-search {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2rem;
  position: relative;
}

.search-container {
  position: relative;
}

#compare-search1 {
  margin-right: 0.25rem;
  background-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
}

#compare-search2 {
  background-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
}

#compare-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-top: 3rem;
  row-gap: 1.5rem;
}

.compare-bar {
  display: grid;
  grid-template-columns: 6fr 2fr 6fr;
  gap: 1rem;
  width: 100%;
}

.compare-bar-label {
  text-align: center;
}

.compare-bar-container {
  flex-grow: 1;
  display: flex;
}

.compare-bar-container.left {
  justify-content: flex-end;
  gap: 1rem;

  & > .compare-bar-fill {
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
  }
}

.compare-bar-container.right {
  gap: 1rem;

  & > .compare-bar-fill {
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
  }
}

.compare-bar-fill {
  height: 100%;
}

#filters {
  visibility: hidden;
}
