

.profile-container {
  margin-top: 2rem;
  margin-bottom: 5rem;

  display: grid;

  grid-template-columns: 5fr 13fr;
  column-gap: 2rem;
  align-items: flex-start;

}

/* .side-menu {
  display: flex;
  flex-flow: column;
  width: 30%;
} */

.playerProfile {
    display: flex;
    flex-direction: column;

    gap: 1rem;
    padding: 1rem;

  /* border: 5px solid #145b56; */
  border-radius: 5%;
  align-items: center;
  /* background-color: rgb(104, 89, 150, 0.28); */

  & h1 {
    margin: 0;
    font-weight: normal;
    font-size: 1.15rem;
  }
}

.playerPic {
  display: flex;
  border-radius: 50%;

  & img {
    width: 200px;
    border-radius: 50%;
    aspect-ratio: 1;
  }
}

.playerPics {

  object-fit: cover;
  border-radius: 5%;
  &.active {
    border: 3px solid var(--green);
  }
  &.inactive {
    border: 3px solid var(--pink);
  }
}

.playerDesc {
  font-size: 12px;
  /* align-self: flex-start; */
  position: relative;
  text-align: center;
  /* left: -50px; */
}

.descr {
  color: var(--green);
}

.playerTableStats {
    align-self: stretch;

    & .table-container {
        height: 100%;
    }
}

/* .mainSection {
  display: flex;
  flex-flow: column;
  margin-left: 3rem;
  width: 70%;
  margin-bottom: 2rem;
} */



.barChart {
  border-right: 1px solid white;
  width: 100%;
}

.profileStats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: 1fr 1fr; */
  row-gap: 2.5rem;
  column-gap: 1rem;
  justify-content: center;
  margin-top: 1.6rem;
}

.statsBadgeContainer {
  text-align: center;
}

.statsBadgeTitle {
    font-size: 12px;
  margin-bottom: 1rem;
}

.statsBadgeCircle {
  position: relative;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin: auto;
  position: relative;

  & > .statsBadgeCircleSmall {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #001327;
    color: white;
  }
}

.statsBadgeValue {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toggle-container {
  display: flex;
  justify-content: flex-end;
}

.toggle {

  background-color: #68599647;
  padding: .25rem;
  border-radius: 5rem;
  display: flex;
  align-items: center;

  & button {
    border: 0;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: .7rem;

    &.active {
      background-color: #2BC1B76E !important;
      border-radius: 5rem;
      padding: .25rem .5rem;
    }

    & img {
      width: 100%;
      aspect-ratio: 1;
      border-radius: 50%;
      display: block;
    }
  }

}

.team-data-table {
    min-height: 100%;
    width: 100%;
    border-collapse: collapse;


    & th, td {
        padding: .5rem;
        font-size: 12px;
    }

    & tbody {
      overflow-y: auto;
    }

    & tr {
        border-radius: 40px;
        cursor: default;

        & > td:last-child {
            padding-right: 1rem;
        }
    }

    & tbody tr:hover {
        background: none;

        & > td {
            /* background-color: rgba(255, 255, 255, 0.1);

            &:first-child {
                border-radius: 40px 0 0 40px;
            }

            &:last-child {
                border-radius: 0 40px 40px 0;
            } */
        }
    }
}

.team-logo-td {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.team-logo {
  height: 40px;
  width: 40px;
  object-fit: contain;
  object-position: center;
  position: relative;
  top: 3px;
}

.totalsRowProfile {
  background-color: rgb(43, 193, 183, 0.14);
  color: var(--green);
}

.totalsRowProfile th {
    border-radius: 20px 0 0 20px;
    padding-left: 1rem;
}

.totalsRowProfile td:last-child {
    border-radius: 0 20px 20px 0;
}

.badgeRank {
  position: absolute;
  text-align: center;
  height: 50px;
  width: 50px;
  bottom: 0px;
  left: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  translate: -50% 25%;
  color: #001327;
  font-weight: 500;
}

.badgeRank img {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -40%;
  z-index: -1;
  height: 100%;
}


.profileCharts {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-bottom: 2rem;
}

.circleChart1 {
  position: relative;
  left: 40px;
}

.circleChart1, .circleChart2 {

  & h3 {
    font-size: 16px;
    font-weight: normal;
    align-self: flex-start;
  }
}

.circleChart2 {
  position: relative;

  & h3 {
    text-align: center;
    position: relative;
    left: -45px;
  }

  & .goal-type-chart-container {
    display: flex;
    justify-content: flex-end;
  }
}

.circleChart2 canvas {
  width: 75% !important;
  height: 75% !important;
  position: relative;
  top: 25px;
}

#leaderboard-heading {
  /* grid-column: span 4; */
  position: relative;
  top: 10px;
  font-weight: normal;
  margin: -15px 0 -15px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  & h3 {
    margin: 0;
    font-weight: normal;
  }

  & .controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  & button {
    border: 0px solid #eee;
    background-color: transparent;

    & img {
      width: 25px;
    }
  }
}

