.header-container {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding: 1rem 0 30px 0;
  width: 100vw;
}

header .left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header .user {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  width: 40px;
  height: 40px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 50%;
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav button {
  padding: 10px 20px;
  border-radius: 100px;
  color: white;
  font-family: Poppins;
  font-weight: normal;
}

header .topButtons {
  background-color: transparent;
  border: 0;
}

header #nav a:not(.active) .topButtons:hover {
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

#searchInput {
  background-color: transparent;
  border: 1px solid var(--purple);
  border-radius: 20px;
  color: white;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  font-size: 11px;
}

#searchInput:focus {
  outline: none;
  box-shadow: none;
}

::placeholder {
  color: white;
}

#nav a span {
  border-bottom: 1px solid transparent;
  padding-bottom: 0.25rem;
}

#nav a.active span {
  border-color: white;
}

#filters {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

#filter-menu button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 250ms;
}
#filter-button {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  cursor: pointer;
}

.searchFunc {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */

  & > .input-wrapper {
    position: relative;
    width: 100%;

    & > img {
      position: absolute;
      width: 20px;
      top: 50%;
      translate: 0 -50%;
      left: 15px;
    }

    &:has(img) input {
      padding-left: 2.5rem !important;
    }

    & input {
      width: 100%;
    }
  }
}

#searchResults {
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  font-weight: 150;
  z-index: 1000;
  background-color: rgba(104, 89, 150, 0.28);
  backdrop-filter: blur(25px);
  border-radius: 20px;
  font-size: 12px;
  max-height: 400px;
  overflow-y: auto;
  scrollbar-width: none;
}

.searchResultBox {
  display: flex;
  padding: 1rem;
  color: white;
  align-items: center;
  width: 100%;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.player-result {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.player-result-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.player-result-info {
  display: flex;
  flex-direction: column;
}

/* import { UserButton } from "@clerk/clerk-react" */

.clerk-user-button-root {
  width: 100%;
}

.clerk-user-button-trigger {
  width: 100%;
  justify-content: flex-start;
  padding: 0.5rem;
  border-radius: 0.375rem;
  box-shadow: none !important;
  display: flex;
  align-items: center;
}

.clerk-user-button-trigger:hover {
  background-color: var(--sidebar-accent);
}

.clerk-user-button-box {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  box-shadow: none;
}

.clerk-user-button-identifier {
  padding-left: 0;
}

.clerk-user-button-popover {
  pointer-events: auto;
}

.clerk-user-name {
  color: #ffffff; /* Por ejemplo: azul Tailwind-800 */
  font-weight: 500; /* Opcional */
}
